/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.nestedDemo .dropzone ul[dnd-list] {
    margin: 0px;
    min-height: 42px;
    padding-left: 0px;
}

.nestedDemo .dropzone li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.nestedDemo .dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.nestedDemo .dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.nestedDemo .dropzone .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

/***************************** Element Selection *****************************/

.nestedDemo .dropzone .selected .item {
    color: #000000;
    background-color: #D3D3D3;
}

.nestedDemo .dropzone .selected .box {
    border-color: #d6e9c6;
}

.nestedDemo .dropzone .selected .box > h3 {
    background-color: #D3D3D3;
    background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
    border-color: #d6e9c6;
    color: #3c763d;
    margin: 20px 10px;
}

/***************************** Element type specific styles *****************************/



.nestedDemo .dropzone .item {
    padding: 15px 10px;
}
.nestedDemo .dropzone .item-element {
    float: left;
}
.nestedDemo .dropzone .info-element {
    float: right;
    outline: none;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 1px 8px;
    background-color: transparent;
    display: block;
    border: 0px;
    width: 36px;
    height: 36px;
}
.nestedDemo .dropzone .setting{
    
    background-image: url("icons/ic_settings_black_36dp_1x.png"); 
}
.nestedDemo .dropzone .transform {
    background-image: url("icons/ic_functions_black_36dp_1x.png"); 
}
.nestedDemo .dropzone .query {
    
    background-image: url("icons/ic_view_quilt_black_36dp_1x.png"); 
}
.nestedDemo .dropzone .inbound {
    
    background-image: url("icons/ic_cloud_download_black_36dp_1x.png"); 
}
.nestedDemo .dropzone .outbound {
    
    background-image: url("icons/ic_cloud_upload_black_36dp_1x.png"); 
}

.nestedDemo .dropzone .info-widget {
    float: right;
    outline: none;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 1px 8px;
    background-color: transparent;
    display: block;
    border: 0px;
    width: 36px;
    height: 36px;
}
.nestedDemo .info-widget .Callout {
    
    background-image: url("icons/ic_cloud_queue_black_36dp_2x.png"); 
}
.nestedDemo .info-widget .Query {
    
    background-image: url("icons/ic_question_answer_black_36dp_1x.png"); 
}
.nestedDemo .info-widget .Math {
    background-image: url("icons/ic_exposure_plus_1_black_36dp_1x.png"); 
}
.nestedDemo .info-widget .String {
    
    background-image: url("icons/ic_sort_by_alpha_black_36dp_1x.png"); 
}

.nestedDemo .dropzone .condition-element {
    margin: 20px 10px;
}

.nestedDemo .dropzone .condition-element .column {
    float: left;
    width: 100%;
}
.nestedDemo .dropzone .object-element {
    margin: 20px 10px;
}

.nestedDemo .dropzone .object-element .column {
    float: left;
    width: 100%;
}
.nestedDemo .dropzone .container-element {
    margin: 20px 10px;
}

.nestedDemo .dropzone .container-element .column {
    float: left;
    width: 100%;
}

.nestedDemo .dropzone .loop-element {
    margin: 20px 10px;
}

.nestedDemo .dropzone .loop-element .column {
    float: left;
    width: 100%;
}

/***************************** Toolbox *****************************/

.nestedDemo .toolbox ul {
    cursor: move;
    list-style: none;
    padding-left: 0px;
}

.nestedDemo .toolbox button {
    margin: 5px;
    opacity: 1.0;
    width: 123px;
}

.nestedDemo .toolbox .dndDragging {
    opacity: 0.5;
}

.nestedDemo .toolbox .dndDraggingSource {
    opacity: 1.0;
}

/***************************** Trashcan *****************************/

.nestedDemo .trashcan ul {
    list-style: none;
    padding-left: 0px;
}

.nestedDemo .trashcan img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.nestedDemo .trashcan .dndDragover img {
    width: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.nestedDemo .trashcan .dndPlaceholder {
    display: none;
}

#sidebar {
    position: -webkit-sticky;  // required for Safari
    position: sticky;
    top: 0; // required as well.
}   

/**************************************/
.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 2s;
}

/**************************************/
.main-gui {
    display: table-row;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}


.model-gui {
    display: table-cell;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 20px;
   
}
.top-gui {

    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-height: 40px;
    position: relative;
    background-color: #808080;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.editor-main {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.editor-op-vw-rt {
    position: relative;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
#editor-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F0F0F0;
}

#editor-scroll::-webkit-scrollbar
{
    width: 6px;
    background-color: #F0F0F0;
}

#editor-scroll::-webkit-scrollbar-thumb
{
    background-color: #8c8c8c;
}

/************************************/
.item-svg {
    padding: 0;
    padding: 4px;
    overflow: hidden;
    border: 1px;
}
.item-tool {
    outline: none;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.inside-tool {
    padding: 10px 4px 0;
}
.expand-tool {
    height: auto;
    opacity: 1;
    transition: all .5s;
}

.left-groups-tool {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    
}


.left-content.vertical-enabled {
        width: calc(100% - 10px);
}

.left-content {

    display: inline-block;
    transform: translate3d(0,0,0);
    max-width: 100%;
}
.left-toolbox-container {
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    overflow: hidden;
    position: relative;
}
.left-tool-box-container {
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #E6E6E6;
    transition: .2s opacity;
    min-height: 300px;
    height:710px;
}
.left-inside-panel {
     -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
}
.left-panel-gui {
    flex: 0 1 auto;
    position: relative;
    min-width: 160px;
    border-right: 1px solid #A5A5A5;
    background-color: #F0F0F0;
}
/****************************************/
.footer {
    border-top: solid 1px #A5A5A5;
    max-height: 495px;
    display: block;
    overflow: hidden;
    position: relative;
    transition: margin .5s;
}
.footer-tabs-spacer {
    width: 92px;
    height: 100%;
    -ms-flex-negative: 10;
    flex-shrink: 10;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.footer-page-tabs {
    margin-left: 10px;
    height: 100%;
   height: 100%;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.footer-callout-container {
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.footer-page {
    background-color: #77818C;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    position: relative;
}

/*****************************************/
/* Scrollbar */
.scrollbar-behavior {
    display: table-cell;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 10px;
    /*display: block;*/
    position: absolute;
    opacity: 1;
    box-sizing: border-box;
    position: relative;
    background: #D6D6D8;
}
.scrollbar-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #F0F0F0;
}
.scrollbar-handle.vertical {
    top: 0%;
    height: 84.0826%;
    min-height: 20px;
    width: 60%;
    margin-left: 2px;
    position: absolute;
    box-sizing: border-box;
    background-color: #a5a5a5;
}
/*************** row padding *****************/
.row-padding {

    margin-bottom: 10px;
    overflow-y:scroll;
    overflow-x:hidden; 
    height: calc(90% - 10px);
    max-height: 700px;
}
.main-container {
    /* margin-right: auto; */
    /* margin-left: auto; */
    padding-left: 15px;
    padding-right: 15px; 
}

/*************** right menu ****************/
.right-menu {
    display: table-cell;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    position: relative;
    max-width: 340px;
    min-width: 260px;
    height: 100%;
    right: 0px;
    top: 0px;
     
   
}
.right-inside-panel {
     -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    width: 100%;
}
.right-panel-gui {
    flex: 0 1 auto;
    position: absolute;
    border-left: 1px solid #A5A5A5;
    background-color: #F0F0F0;
    left:0;
    top: 0;
    bottom: 0;
    width: 100%;
}
.right-groups-tool {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    
}


.right-content.vertical-enabled {
        width: calc(100% - 10px);
}

.right-content {

    display: inline-block;
    transform: translate3d(0,0,0);
    max-width: 100%;
    
}
.right-toolbox-container {
    right: 0;
    left:0;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    overflow: hidden;
    position: relative;
    
}
.right-tool-box-container {
    
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #E6E6E6;
    transition: .2s opacity;
    min-height: 300px;
    height:710px;
   
}

/************* Code Container ************/
.code-container {
    height:510px;
}